*{
	box-sizing: border-box;
}
body{
	font-family: arial;
}
a{
	text-decoration: none;
	color: inherit;
}

.contenedor{
	width: 1120px;
	margin:0 auto;
}
.logo-site{
	
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.header-site{
	margin-bottom: 30px;
}

.nav-site{
	display: inline-block;
	vertical-align: middle;
	margin-left: 70px;
}
.item-buscar{
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	color: black;
	font-size: 16px;
	font-family: arial;
	background-color: red;
}

.nav-site ul li{
	float: left;


	color: black;
	font-size: 16px;
	font-family: arial;
	padding-left: 30px;
	padding-right: 30px;
	border-right: 2px solid gray;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
}
.nav-site ul li:hover a{
	color: #ff00a5;
	padding-bottom: 5px;
	border-bottom: 2px solid  #ff00a5
}
.bar-nav{

	text-align: center;
}

.nav-site ul li.noborder{
	border-right: 0;
}


.columna1{
width: 260px;
float: left;
}
.columna2{
height: 540px;
float: left;
margin-left: 30px;
margin-right: 30px;
}
.clear{
	clear: both;
}

.item1{
	width: 260px;
	margin-bottom: 40px;
}

.item1 .foto-receta{
	width: 260px;
	height: 310px;
	object-fit: cover;
	object-position: center;
}

.item1 .title-receta{
	font-weight: bold;
	margin-top: 15px;
	text-align: center;
	font-size: 20px;
	line-height: 1.5;

}
.item2{
	width: 540px;
}

.item2 .foto-receta{
	width: 540px;
	height: 750px;
	object-fit: cover;
	object-position: center;
}

.item2 .title-receta{
	font-weight: bold;
	margin-top: 15px;
	text-align: center;
	font-size: 20px;
	line-height: 1.5;
}