div{
	width: 100px;

}

section{
	width: 100%;

}


p{}

.contenido{
	width: 100%;
	min-width:700px;
	max-width:1000px; ;
	min-height:300px;
	height: 500px;
	max-height:600px ;
	background-color: red;
}

.box{
	width: 50%;
	height: 50%;
	background-color: green;
}

.item{
	width: 100px;
	height: 10%;
	background-color: blue;
}
html{
	font-size: 16px;
}
@media (max-width: 400){
	html{
		font-size: 10px;
	}
}

p{
	font-size: 1.5rem;
	/*
	font size del element root 
	html
	*/
}
div{
	font-size: 50px;
}
div span{
	font-size: 0.5em;
	/* font size del contenedor padre */

}

.box-total{
	width: 100vw;
	height: 100vh;
	background-color: black;
}
.box-total2{
	width: 100vw;
	height: 100vh;
	background-color: blue;
}